@font-face {
  font-family: 'Inter';
  src:
    url('Inter-VariableFont_wght.woff2') format('woff2-variations'),
    url('Inter-VariableFont_wght.woff') format('woff-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
